.wrap
    margin: 40px auto 
    width: 500px
    min-width: 320px
    padding:20px
    background-color: #3d47af
    border-radius: 18px
    min-height: 45vh
h1
    color: white
    font-size: 2em
    text-align: center
    margin-bottom: 14%
    
h2
    margin: 0 auto
    width: 60%
    min-width: 300px
    font-size: 1em
    color: #7d80aa