<div class="wrap">
    <h1>{{title}}</h1>
    <h2>  {{tasklabel}}</h2>
    <app-todo-item
        class="tasks"
        *ngFor="let todo of todos" 
        [todo]="todo"
        (deleteTodo)="deleteTodo($event)" 
    >
    </app-todo-item>
    <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
</div>