.item
    background-color: #0a155a
    border-radius: 18px
    height: 60px
    width: 60%
    min-width: 300px
    positiom: absolute
    margin: 0.5em auto
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    justify-content: space-between
    align-items: center   

input

    &[type="checkbox"]
        appeareance: none
        -webkit-appearance: none
        height: 34px
        width: 34px
        border: 1.5px solid #d103fc
        border-radius: 50%
        margin-left: 2%
        background-color: #0a155a
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        outline: none
        transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49)
        
    &[type="checkbox"]::after
        font-family: FontAwesome
        content: "\f00c"
        font-weight: 300
        font-size: 27px
        color: #0a155a
        display: none
        transform: scale(1)

    &[type="checkbox"]:hover
        border: 2px solid #9800b6

    &[type="checkbox"]:checked
        background-color: #d103fc
        
    
    &[type="checkbox"]:checked + label

        text-decoration: line-through
    
    &[type="checkbox"]:checked:after
        
        
        display: block
        
label
    color: white
    font-size: 1em
    


.btn
    height: 30px
    width: 30px
    align-self: center
    border: none
    border-radius: 5px
    margin-right: 2%
    background-color: #010319
    color: #7d80aa


