<div [ngClass]="setClasses()" class="item">
    <input (change)="onToggle(todo)" type="checkbox" id="checkbox{{todo.id}}" >
    <label for="checkbox{{todo.id}}">{{todo.title}}</label>

    <button (click)="onDelete(todo)" class="btn">x</button>
</div>
