<div class="addTodo">

    <form class="search-box" (ngSubmit)="onSubmit()">
        <input type="text" class="search-txt" name="title" [(ngModel)]="title" placeholder="Ajouter un element">
        <button type="submit" class="search-btn">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </form>
</div>