.addTodo
    margin: 40px auto 
    width: 50%
    color: #7d80aa
    padding: 20px
h2
    font-size: 1em
    margin-bottom: 8px

input

    &[type="text"]
        transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49)

.search-box
    position: relative
    float: right
    
    &:hover > .search-txt
        width:240px


.search-txt
    position: absolute
    left: 22.5px
    height: 27px
    width: 0px
    padding: 5px
    border: 1px solid white
    outline: none
    border-radius: 8px
    transform: translate(-100%)
    
    
   
.search-btn
    position: absolute
    font-size: 25px
    height: 39px
    width: 39px
    border: none
    border-radius: 50%
    background-color: #d103fc
    color: white
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49)
    &:hover
        rotate: 90deg