@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap')
@import "/home/pierre/Documents/Projets/JS/Angular/TodoApp/node_modules/font-awesome/scss/font-awesome.scss"


*
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif

body
    background-color: #97b4ff//#010319  //#bbc2d8 #97b4ff